body {
    font-family: Arial, sans-serif;
}

.header {
    background-image: url('../images/header-bg.jpg'); /* Ganti dengan URL gambar latar belakang yang sesuai */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
}

header .btn {
    margin-top: 20px;
}

section {
    padding: 60px 0;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

i {
    color: #007bff;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}
